body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

header {
    background: #b08f71;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.img_1 {
position: relative;
right: 1720px;
top: 140px;
}
/* .img_2 {
    width: 700px;
    height: 250px;
} */

ol {
    position: relative;
    left: 40px;
}

